.dark {
  --color-font: #cccccc;
  --color-background: #585858;
  --color-fill-main: #2b2b2b;
  --color-fill-seconday: #4b4b4b;

  --color-titlebar-background: #2b2b2b;
  --color-titlebar-font: #cccccc;
  
  --color-toolbar: #2b2b2b;

  --color-tab: #292929;
  --color-tab-active: #1e1e1e;
  --color-tab-content: #1e1e1e;

  --color-menu-background: #202020;
  --color-menu-highlight: #830000;
  --color-menu-highlight-font: #ffffff;

  --color-ast-hover: #ffffff09;
  --color-ast-node-font: #ffffff;
  --color-ast-leaf-font: #acacac;

  --color-table-header: #fff4;
  --color-table-child-even: #fff1;
  --color-table-child-odd: #fff2;
  
  --color-button: #585858;
  --color-button-hover: #888888;
}
