
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #666666;
  color: #fff;
}

#main {
  background: #5c5c5c;
}

#toolbar {
  background-color: #b9b9b9
}

#toolbar .toolbar-button img {
  opacity: 0.5;
  filter: none;
}
#toolbar .toolbar-button.active {
  background-color: rgb(32, 32, 32);
}

#toolbar .toolbar-button:hover {
  background: #0000001A
}

#tab-panel {
  background-color: #ffffff;
}

#tab-group {
  background-color: rgb(187, 187, 187);
}

#tab-group .tab {
  background-color: #9b9b9b;
  color: #000000;
}

#tab-group .tab.active {
  background-color: #e4e4e4;
}

#tab-content {
  background-color: #e4e4e4;
}


#titlebar {
  color: #202020;
  background-color: #d3d3d3;
}

#window-menu > .dropdown:hover > .button {
  background: #0000001A
}

.menu-list {
  background-color: #d3d3d3;
}

.menu-list > .button:hover {
  background: #0000001A
}

/* Window Control | - | [] | X | */

#window-controls .button .icon{
  filter: invert(1);
}

#window-controls .button:hover {
  background: #0000001A
}

#window-controls .button:active {
  background: #00000034
}

#close-button:hover {
  background: #e81123 !important;
}

#close-button:active {
  background: #f1707a !important;
}
#close-button:hover .icon {
  filter: none;
}

#close-button:active .icon {
  filter: invert(1);
}
