$white-icons: true;
$color-font: #ffffff;
$color-body-background: #1a0079;
$color-titlebar-background: #120052;
$color-titlebar-font: #ffffff;
$color-toolbar: #0d003d;
$color-tab-panel: #07001f;
$color-tab: #12004d;
$color-tab-active: #040013;
$color-tab-panel-content: #040013;
