::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.6);
}

/* Tool bar */

#toolbar {
  .toolbar-button {
    img {
      filter: invert(1);
    }
  }
}

.tab-group {
  .tab {
    img {
      filter: invert(1);
    }
  }
}

/* Menu List */

.dropdown > .button:hover {
  background-color: #ffffff20;
  // background-color: #00000020; on black icons
}

.menu-list {
  > .spacer {
    background-color: #ffffff20;
    // background-color: #00000020; on black icons
  }
}

/* Window Control | - | [] | X | */

#window-controls .icon {
  filter: none;
  // filter: invert(1); on black icon
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.1);
  // background: rgba(0, 0, 0, 0.1); on black icons
}

#window-controls .button:active {
  background: rgba(255, 255, 255, 0.2);
  // background: rgba(0, 0, 0, 0.2);
}

#close-button:active .icon {
  filter: invert(1);
  // filter: none; on black icons
}
