.icons-white {
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  ::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.6);
  }

  /* Tool bar */

  #toolbar .toolbar-button img {
    filter: invert(1);
  }

  .tab-group .tab img {
    filter: invert(1);
  }

  /* Menu List */

  .dropdown > .button:hover {
    background-color: #ffffff20;
  }

  .menu-list > .spacer {
    background-color: #ffffff20;
  }

  /* Window Control | - | [] | X | */

  #window-controls .icon {
    filter: none;
  }

  #window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  #window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
  }

  #close-button:active .icon {
    filter: invert(1);
  }
}
