$white-icons: false;
$color-font: #000000;
$color-body-background: #ffffff;
$color-titlebar-background: #eeeeee;
$color-titlebar-font: #202020;
$color-toolbar: #bebebe;
$color-tab-panel: #cecece;
$color-tab: #e0e0e0;
$color-tab-active: #ffffff;
$color-tab-panel-content: #ffffff;
