$white-icons: false;
$color-font: #000000;
$color-body-background: #ffffff;
$color-titlebar-background: #dadada;
$color-titlebar-font: #000000;
$color-toolbar: #dadada;
$color-tab-panel: #dadada;
$color-tab: #b3b3b3;
$color-tab-active: #ffffff;
$color-tab-panel-content: #ffffff;
$color-menu-background: #b8b8b8;
$color-menu-highlight: #004da5;
